{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if display == "homeAccount"%}
    <section style="background-color: #eeeeee; display: grid; grid-template-rows: 12vh 1fr;">
        <section style="border: 1px solid #00000010; padding: 30px; display: grid; grid-template-columns: 180px 1fr 180px;">
            <div class="navbar-button">
                <h4 style="margin: 0;">Nov 30, 2022</h4>
            </div>
            <div></div>
            <div class="navbar-button log-food" style="color: #00000070;">
                <h4 style="margin: 0; font-size: 14px;">Log Food</h4>
            </div>
        </section>
        <section style="border: 1px solid #00000010; padding: 30px;">
            <section class="big-white-box">
                <!-- This is going to just be one column of alerts -->
                <h1>Account</h1>
                <a href="{% url "signout" %}" style="text-decoration: none;">
                    <div>
                        <h4>Sign Out</h4>
                    </div>
                </a>

            </section>
            <section>
                <h1>Patient Info</h1>
                <p>First Name: {{patientData.first_name}}</p>
                <p>Last Name: {{patientData.last_name}}</p>
                <p>Age: {{patientData.age}}</p>
                <p>Weight: {{patientData.weight}} lbs</p>
                <p>Height: {{patientData.height}} inches</p>
                <p>Email: {{patientData.email}}</p>
                <p>Phone Number: {{patientData.phone}}</p>
                <p>Address 1: {{patientData.address1}}</p>
                <p>Address 2: {{patientData.address2}}</p>
                <p>City: {{patientData.city}}</p>
                <p>State: {{patientData.state}}</p>
                <p>Zip: {{patientData.zip}}</p>
                <a href="{% url 'account' method="editPatient"%}">
                    <button >Edit Patient Info</button>
                </a>
                <br>
                <a href="{% url 'account' method="changeLoginInfo"%}">
                    <button>Change Patient Username/Password</button>
                </a>
                
            </section>
        </section>
    </section>
{% elif display == "editPatient"%}
    <h1>Edit page</h1>
{% else %}
    <h1>Change username and password</h1>
{% endif %}
{% endblock %}