{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="main-content">
    <section style="border: 1px solid #00000010; padding: 30px; display: grid; grid-template-columns: 180px 1fr 180px;">
        <div class="navbar-button">
            <h4 style="margin: 0;">{{ formatted_date }}</h4>
        </div>
        <div></div>
        <a href="{% url 'logfood' %}">
            <div class="navbar-button log-food" style="color: #00000070;">
                <h4 style="margin: 0; font-size: 14px; color: #ffffff;">Log Food</h4>
            </div>
        </a>
    </section>
    <section style="border: 1px solid #00000010; padding: 30px;">
        <section class="big-white-box big-box-alerts">
            <!-- This is going to just be one column of alerts -->
            <h3 style="padding-bottom: 18px;">Alerts</h3>
            <!-- For alert in alert-list -->
            {% for alert in alerts %}
            <div class="alert-container">
                <div style="padding-top: 18px;">
                    <div class="circle" style="background-color: transparent;"></div>
                </div>
                <div>
                    <div class="alert">
                        <div>
                            <h3>{{ alert.alert_type.name }}</h3>
                        </div>
                        <div></div>
                        <div style="display: grid; grid-template-columns: auto 1fr auto">
                            <h5 style="color: #00000050;">{{ alert.alert_type.description }}</h5>
                            <div></div>
                            <h5 style="color: #00000050;">{{ alert.date_time }}</h5>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            {% endfor %}


        </section>
    </section>
</section>

{% endblock %}