{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="main-content">
    <section style="border: 1px solid #00000010; padding: 30px; display: grid; grid-template-columns: 180px 1fr 180px;">
        <div class="navbar-button">
            <h4 style="margin: 0;">{{ formatted_date }}</h4>
        </div>
        <div></div>
        <a href="{% url 'logfood' %}">
            <div class="navbar-button log-food" style="color: #00000070;">
                <h4 style="margin: 0; font-size: 14px; color: #ffffff;">Log Food</h4>
            </div>
        </a>
    </section>
    <section style="border: 1px solid #00000010; padding: 30px;">
        <section class="big-white-box big-box-diary">
            <!-- This is going to just be one column of alerts -->
            <h3>Diary</h3>

            <section class="diary-section">
                <h4>Today</h4>
                <hr>

                <div>
                    {% for food in today_foods %}
                    <section>
                        <div style="display: grid; grid-template-columns: auto 1fr auto;">
                            <h4 style="color: #000000; padding: 10px 0 10px 0;">{{ food.food.food.food_name }} <span style="color: #00000040;"> - {{ food.food.quantity }} serving(s)</span></h4>
                            <div></div>
                            <h4 style="color: #00000040; padding: 10px 0 10px 0;">{{ food.food.date_time }}</h4>
                        </div>
                        <div style="display: flex; gap: 10px;">
                            {% for nutrient in food.nutrients %}
                            <div style="background-color: rgb(222, 222, 222); min-height: 60px; max-width: 120px; padding: 5px; border-radius: 6px; flex-grow: 1;">
                                <h4 class="truncated"> {{ nutrient.name }} </h4>
                                <p> {{ nutrient.amount }} {{ nutrient.measurement }} </p>
                            </div>
                            {% endfor %}
                        </div>
                        <hr>
                    </section>
                    {% endfor %}
                </div>

            </section>

            <section class="diary-section">
                <h4>This past week</h4>
                <hr>

                <div>
                    {% for food in past_foods %}
                    <section>
                        
                        <div style="display: grid; grid-template-columns: auto 1fr auto;">
                            <h4 style="color: #000000; padding: 10px 0 10px 0;">{{ food.food.food.food_name }} <span style="color: #00000040;"> - {{ food.food.quantity }} serving(s)</span></h4>
                            <div></div>
                            <h4 style="color: #00000040; padding: 10px 0 10px 0;">{{ food.food.date_time }}</h4>
                        </div>
                        <div style="display: flex; gap: 10px;">
                            {% for nutrient in food.nutrients %}
                            <div style="background-color: rgb(222, 222, 222); min-height: 60px; max-width: 120px; padding: 5px; border-radius: 6px; flex-grow: 1;">
                                <h4 class="truncated"> {{ nutrient.name }} </h4>
                                <p> {{ nutrient.amount }} {{ nutrient.measurement }} </p>
                            </div>
                            {% endfor %}
                        </div>
                        <hr>
                    </section>
                    {% endfor %}
                </div>
            </section>


        </section>
    </section>
</section>

{% endblock %}