{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="background-color: #eeeeee; display: grid; grid-template-rows: 12vh 1fr;">
    <section style="border: 1px solid #00000010; padding: 30px; display: grid; grid-template-columns: 180px 1fr 180px;">
        <div class="navbar-button">
            <h4 style="margin: 0;">Nov 30, 2022</h4>
        </div>
        <div>
            <h1 style="text-align:center">Welcome, {{patientData.first_name}}</h1>
        </div>
        <div class="navbar-button log-food" style="color: #00000070;">
            <h4 style="margin: 0; font-size: 14px;">Log Food</h4>
        </div>
    </section>
    <section style="border: 1px solid #00000010; padding: 30px;">
        <section class="big-white-box">
            <!-- Gonna have two columns -->

            
            <div style="background: transparent; width: auto; height: auto; border-radius: 25px;">
                <div style="padding: 0 0 20px 0;">
                    <h3>Micronutrient Levels</h3>
                </div>
                <div class="micronutrient-grid">
                    <!-- For nutrient in nutrient-list -->
                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                </div>
            </div>



            <div style="background: transparent; width: auto; height: auto; border-radius: 25px;">
                <div style="padding: 0 0 20px 0;">
                    <h3>Food Suggestions</h3>
                </div>
                <div class="suggestion-grid">

                    <div class="suggestion-container">
                        <div></div>
                        <h5 style="color: #0e4d0f60">High in Protein</h5>
                        <h5 class="nutrient-name">Chicken Parmesan</h5>
                    </div>
                    <div class="suggestion-container">
                        <div></div>
                        <h5 style="color: #0e4d0f60">High in Protein</h5>
                        <h5 class="nutrient-name">Chicken Parmesan</h5>
                    </div>
                    <div class="suggestion-container">
                        <div></div>
                        <h5 style="color: #0e4d0f60">High in Protein</h5>
                        <h5 class="nutrient-name">Chicken Parmesan</h5>
                    </div>
                    <div class="suggestion-container">
                        <div></div>
                        <h5 style="color: #0e4d0f60">High in Protein</h5>
                        <h5 class="nutrient-name">Chicken Parmesan</h5>
                    </div>

                </div>
            </div>
            <div class = "col-md-8">
                <canvas id="myChart" width="400" height="400"></canvas>
                <script>
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: [{% for data in data %} '{{data.food.food_name}}: {{data.nutrient.nutrient_name}} in {{data.measurement.description}}', {% endfor %}],
                            datasets: [{
                                label: 'Amount',
                                data: [{% for data in data %} {{data.amount}}, {% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.8)',
                                    'rgba(54, 162, 235, 0.8)',
                                    'rgba(255, 206, 86, 0.8)',
                                    'rgba(75, 192, 192, 0.8)',
                                    'rgba(153, 102, 255, 0.8)',
                                    'rgba(255, 159, 64, 0.8)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>

        </section>
        
    </section>
</section>



{% endblock %}