{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="background-color: #eeeeee; display: grid; grid-template-rows: 12vh 1fr;">
    <section style="border: 1px solid #00000010; padding: 30px; display: grid; grid-template-columns: 180px 1fr 180px;">
        <div class="navbar-button">
            <h4 style="margin: 0;">Nov 30, 2022</h4>
        </div>
        <div></div>
        <div class="navbar-button log-food" style="color: #00000070;">
            <h4 style="margin: 0; font-size: 14px;">Log Food</h4>
        </div>
    </section>
    <section style="border: 1px solid #00000010; padding: 30px;">
        <section class="big-white-box">
            <!-- Gonna have two columns -->

            
            <div style="background: transparent; width: auto; height: auto; border-radius: 25px;">
                <div style="padding: 0 0 20px 0;">
                    <h3>Micronutrient Levels</h3>
                </div>
                <div class="micronutrient-grid">
                    <!-- For nutrient in nutrient-list -->
                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                    <div class="micronutrient-container">
                        <div></div>
                        <h5 style="color: #4d2d0e60">420 / 500 mg</h5>
                        <h5 class="nutrient-name">Calcium</h5>
                    </div>

                </div>
            </div>



            <div style="background: transparent; width: auto; height: auto; border-radius: 25px;">
                <div style="padding: 0 0 20px 0;">
                    <h3>Food Suggestions</h3>
                </div>
                <div class="suggestion-grid">

                    <div class="suggestion-container">
                        <div></div>
                        <h5 style="color: #0e4d0f60">High in Protein</h5>
                        <h5 class="nutrient-name">Chicken Parmesan</h5>
                    </div>
                    <div class="suggestion-container">
                        <div></div>
                        <h5 style="color: #0e4d0f60">High in Protein</h5>
                        <h5 class="nutrient-name">Chicken Parmesan</h5>
                    </div>
                    <div class="suggestion-container">
                        <div></div>
                        <h5 style="color: #0e4d0f60">High in Protein</h5>
                        <h5 class="nutrient-name">Chicken Parmesan</h5>
                    </div>
                    <div class="suggestion-container">
                        <div></div>
                        <h5 style="color: #0e4d0f60">High in Protein</h5>
                        <h5 class="nutrient-name">Chicken Parmesan</h5>
                    </div>

                </div>
            </div>



        </section>
    </section>
</section>




{% endblock %}