{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidneyWatch</title>
    <link href="{% static 'css/landing.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <section class="main-landing">
        <section class="header">
            <div class="header-cell" style="min-width: 280px;">
                <h1 style="color: #ec995a">KidneyWatch</h1>
            </div>

            <a href="{% url 'about' %}"">
                <div class="header-cell button" style="max-width: 200px; min-width: 200px;">
                    <h4>About</h4>
                </div>
            </a>

            <div style="background-color: transparent; min-width: 1px;"></div>

            <div style="text-align: right;">
                {% if signedIn %}
                    <a href="{% url 'signout' %}" style="text-decoration: none;">
                        <div class="header-cell button" style="max-width: 200px; min-width: 200px;">
                            <h4>Sign Out</h4>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'login' method='landing' %}" style="text-decoration: none;">
                        <div class="header-cell button" style="max-width: 200px; min-width: 200px;">
                            <h4>Login</h4>
                        </div>
                    </a>
                {% endif %}
                
            </div>
        </section>

        <!-- <img src="{% static 'img/family-dinner.jpg' %}"> -->

        <!-- <div style="min-height: 700px; color: #ffffff; font-size: 30px;"></div> -->
        <div style="min-height: 700px; position: relative;">
            <h4 class="landing-text">Take the stress</h4>
            <h4 class="landing-text" style="margin-top: 310px;">out of eating.</h4>
            <div class="landing-button button">
                <a href='{% url "about" %}'>
                    <h4 style="color: #ffffff;">Learn More</h4>
                </a>
            </div>
        </div>

    </section>

    <section style="min-height: 800px; background-color: #ffffff;">
        <div style="display: grid; place-items: center; padding: 60px 0 0 0;">
            <h1 style="font-size: 52px; color: #ec995a">We're here to Help</h1>
        </div>
        <div style="display: grid; place-items: center; padding: 20px 0 0 0;">
            <h4><span style="color: #ec995a">Three easy steps</span> to better kidney health</h4>
        </div>
        <div style="display: grid; grid-template-columns: auto auto auto auto auto; padding: 40px 5vw 0 5vw;">
            <div style="display: grid; place-items: center;">
                <!-- <div style="background: rgb(236, 218, 207); width: 260px; height: 260px; border-radius: 10px;"></div> -->
                <img src="{% static 'img/kidneyLanding1.png' %}" class="three-steps">
                <h4>1. Track your meals</h4>
            </div>
            <div style="display: grid; place-items: center;">
                <img src="{% static 'img/kidneyLanding2.png' %}" style="max-width: 120px;">
            </div>
            <div style="display: grid; place-items: center;">
                <img src="{% static 'img/kidneyLanding3.png' %}" class="three-steps">
                <!-- <div style="background: rgb(207, 223, 236);  width: 260px; height: 260px; border-radius: 10px;"></div> -->
                <h4 style="margin: 0;">2. Get real-time alerts</h4>
                <h4 style="margin: 0;">and suggestions</h4>
            </div>
            <div style="display: grid; place-items: center;">
                <img src="{% static 'img/kidneyLanding4.png' %}" style="max-width: 120px;">
            </div>
            <div style="display: grid; place-items: center;">
                <img src="{% static 'img/kidneyLanding5.png' %}" class="three-steps">
                <!-- <div style="background: rgb(236, 218, 207);  width: 260px; height: 260px; border-radius: 10px;"></div> -->
                <h4>3. Improve your eating habits</h4>
            </div>
        </div>

        <div style="display: grid; place-items: center; padding: 60px 0 0 0;">
            <a href="{% url 'login' method='create' %}" style="text-decoration: none;">
                <div class="button sign-up-button">
                    <h4 style="margin: 0;">Sign Me Up!</h4>
                </div>
            </a>

        </div>

    </section>

    <section
        style="min-height: 100px; background-color: #ec995a; display: grid; grid-template-rows: 80px 10px 10px; gap: 20px; padding: 30px 30px 50px 30px;">
        <div>
            <h1 style="color: #ffffff;">KidneyWatch</h1>
        </div>
        <div>
            <p style="color: #ffffff; font-size: 11px;">Trey Jackson, Tanner Funk, Tanner Woodrum, Adam Norton</p>
        </div>
        <div>
            <p style="color: #ffffff; font-size: 11px;">Copyright 2022</p>
        </div>
    </section>

</body>

</html>