{% load static %}{%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidneyWatch</title>
    <link href="{% static 'css/landing.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section style="padding: 50px 0 0 0;">
        <div style="display: grid; place-items: center; padding: 20px;">
            <h1 style="color: #ec995a">KidneyWatch</h1>
        </div>

        {% if display == "original"%}
        <section style="display: grid; grid-template-rows: auto auto; gap: 20px;">
            <div style="display: grid; place-items: center;">
                <a href="{% url 'login' method='login' %}">
                    <button class="login-button">Sign In</button>
                </a>
            </div>
            <div style="display: grid; place-items: center;">
                <a href="{% url 'login' method='create'%}">
                    <button class="login-button" style="background-color: #ec995a; color: #ffffff;">
                        Create an Account
                    </button>
                </a>

            </div>
        </section>
        {% elif display == "create"%}

        {% if errors == ""%}
        {%else%}
        {% for error in errors%}
            <p style="color:red; text-align:center">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <div>
            <form name="form" method="post" action="{%url 'login' method='form' %}">
                {% csrf_token %}
                <div class="form-input-list">
                    <div class="form-input">
                        <label for="first_name">First name:</label>
                        <input type="text" name="first_name" id="first_name" autofocus required />
                    </div>

                    <div class="form-input">
                        <label for="last_name">Last name:</label>
                        <input type="text" name="last_name" id="last_name" required />
                    </div>

                    <div class="form-input">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" required />
                    </div>

                    <div class="form-input">
                        <label for="phone">Phone:</label>
                        <input type="text" name="phone" id="phone" required />
                    </div>

                    <div class="form-input">
                        <label for="weight">Weight:</label>
                        <input type="number" name="weight" id="weight" required />
                    </div>

                    <div class="form-input">
                        <label for="height">Height:</label>
                        <input type="number" name="height" id="height" required />
                    </div>

                    <div class="form-input">
                        <label for="age">Age:</label>
                        <input type="number" name="age" id="age" required />
                    </div>

                    {% for condition in condition_data%}
                    <div class="switch-field">
                        <p>Do you have {{condition.description}}</p>
                        <label for="Yes">Yes</label>
                        <input type="radio" name="{{condition.description}}" id="Yes" value = "Yes" />
                        <label for="No">No</label>
                        <input type="radio" name="{{condition.description}}" id="No" value = "No"/>
                    </div>
                    <div class="form-input">
                        <label for="date_diagnosed_{{condition.description}}">Date Diagnosed: </label>
                        <input type="date" name="date_diagnosed_{{condition.description}}" id="date_diagnosed_{{condition.description}}"  />
                    </div>
                    {% endfor %}

                    <div class="form-input">
                        <label for="username">User Name:</label>
                        <input type="text" name="username" id="username" required />
                    </div>

                    <div class="form-input">
                        <label for="password">Password:</label>
                        <input type="text" name="password" id="password" required />
                    </div>
                </div>
                <div style="display: grid; place-items: center;">
                    <button type="submit" class="login-submit-button">Create Account</button>
                </div>
                
            </form><br>
            <div style="display: grid; place-items: center;">
                <a href="{% url 'login' method='login' %}">
                    <button class="login-button">Already Have An Account? Login!</button>
                </a>
            </div>
        </div>

        {% else %}

        {% if errors == ""%}
        {%else%}
        <p>{{ errors }}</p>
        {% endif %}

        <form method="post" action="{% url 'login' method='loginform' %}">
            {% csrf_token %}
            <div style="display: grid; place-items: center;">
                <div class="form-input">
                    <label for="username">User Name:</label>
                    <input type="text" name="username" id="username" required />
                </div>

                <div class="form-input">
                    <label for="password">Password:</label>
                    <input type="text" name="password" id="password" hint="password" required />
                </div>
                <div style="padding-top: 60px;">
                    <button type="submit" class="login-submit-button">Sign In</button>
                </div>
            </div>
        </form><br>
        <div style="display: grid; place-items: center;">
            <a href="{% url 'login' method='create'%}">
                <button class="login-button" style="background-color: #ec995a; color: #ffffff;">
                    Don't Have An Account? Sign Up!
                </button>
            </a>

        </div>
        {% endif %}
    </section>

</body>

</html>
{% endblock %}