{% load static %}{%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidneyWatch</title>
    <link href="{% static 'css/landing.css' %}" rel="stylesheet" />
    <link href="{% static 'css/pickFav.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body style="background-color: #eeeeee;">
    <section style="padding: 50px 0 0 0;">
        <div style="display: grid; place-items: center; padding: 20px;">
            <h4 style="font-size: 22px;">Select at least 5</h4>
            <h4 style="font-size: 22px;">favorite foods</h4>
        </div>


        <form method="POST" style="display: grid; place-items: center;">

            <div style="padding: 20px;">
                <button type="submit" class="continue-button-disabled" id="continue">
                    <h4>Continue</h4>
                </button>
            </div>


            {% csrf_token %}
            <section class="option-grid">
                {% for foodoption in food_list %}

                <input class="checkboxes" type="checkbox" value="{{ foodoption }}" id="option{{ forloop.counter }}"
                    name="foods" onClick="change()" required />
                <label for="option{{ forloop.counter }}"
                    style="display: grid; grid-template-rows: 1fr 74px; gap: 10px;">
                    <img src="https://picsum.photos/seed/1/100"
                        style="border-radius: 6px 6px 0 0; width: 160px; height: 160px;" />
                    <h4 style="padding: 10px;">{{ foodoption }}</h4>
                </label>


                {% endfor %}
            </section>

        </form>


        <script>
            const buttons = document.getElementsByClassName("checkboxes");

            const buttonPressed = e => {
                if (document.getElementById(`${e.target.id}`).className == "checkboxes") {
                    document.getElementById(`${e.target.id}`).className = "checkedbox";
                } else {
                    document.getElementById(`${e.target.id}`).className = "checkboxes";
                }

            }

            for (let button of buttons) {
                button.addEventListener("click", buttonPressed);
            }

            function change() {
                    if (document.getElementsByClassName("checkedbox").length > 3) {
                    const inputs = document.querySelectorAll('.checkboxes');

                    for (const input of inputs) {
                        input.removeAttribute('required');
                    }
                    
                    document.getElementById('continue').classList.add('continue-button');

                    // can_continue = true;
                    // if (document.getElementsByClassName("checkedbox").length < 3) {
                    
                    // document.getElementById('continue').classList.remove('continue-button');
                    // can_continue = false

                // }
                }
                
                

                console.log(document.getElementsByClassName("checkedbox").length)
            }
        </script>



        {% if results %}
        <div> {{results}} </div>
        {% endif %}




















        {% comment %} <style>
            .faved {
                background-color: black;
                color: white;
            }
        </style>
        <div id="one" class="notfaved"> Strawberries </div>
        <div id="two" class="notfaved"> Blueberries </div>
        <div id="three" class="notfaved"> Oranges </div>
        <div id="four" class="notfaved"> Grapes </div>
        <div id="five" class="notfaved"> Cookies </div>
        <div id="six" class="notfaved"> Bananas </div> {% endcomment %}

        <div>

        </div>



    </section>

</body>

</html>
{% endblock %}